body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,button,textarea,blockquote,th,td,p{margin:0;padding:0}
input,button,select,textarea{outline:none}
ol,ul,li{list-style:none}
img{vertical-align:top;border:none;}
textarea{overflow: auto;vertical-align: top;resize:none;}
body,input,textarea{font: 14px/1.5 "Microsoft Yahei",arial,Simsun;}
button,input,select,textarea{font-size:100%;}
h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:normal}
table{border-collapse:collapse;border-spacing:0}
sub, sup{ position: relative; vertical-align: baseline; }
a{text-decoration: none;}
a:focus{outline:0;}
button:focus,input:focus,textarea:focus,select:focus {outline: none;}
