/*fonts start*/
@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon.eot?w7ksoe');
  src:  url('../fonts/icomoon.eot?w7ksoe#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?w7ksoe') format('truetype'),
    url('../fonts/icomoon.woff?w7ksoe') format('woff'),
    url('../fonts/icomoon.svg?w7ksoe#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-arrow_drop_down:before {
  content: "\e5c5";
}
.icon-arrow_drop_up:before {
  content: "\e5c7";
}
.icon-expand_less:before {
  content: "\e5ce";
}
.icon-expand_more:before {
  content: "\e5cf";
}
.icon-eye:before {
  content: "\e000";
}
.icon-air-play:before {
  content: "\e016";
}
.icon-monitor:before {
  content: "\e021";
}
.icon-paper-stack:before {
  content: "\e035";
}
.icon-search:before {
  content: "\e036";
}
.icon-zoom-in:before {
  content: "\e037";
}
.icon-circle-check:before {
  content: "\e042";
}
.icon-circle-cross:before {
  content: "\e043";
}
.icon-head:before {
  content: "\e074";
}
.icon-power:before {
  content: "\e086";
}
.icon-arrow-left:before {
  content: "\e094";
}
.icon-arrow-right:before {
  content: "\e095";
}
.icon-arrow-up:before {
  content: "\e096";
}
.icon-arrow-down:before {
  content: "\e097";
}
.icon-plus:before {
  content: "\e114";
}
.icon-minus:before {
  content: "\e115";
}
.icon-check:before {
  content: "\e116";
}
.icon-cross:before {
  content: "\e117";
}
.icon-pencil:before {
  content: "\e903";
}
.icon-eye2:before {
  content: "\e9ce";
}
.icon-smile:before {
  content: "\e9e1";
}
.icon-sad:before {
  content: "\e9e5";
}
.icon-notification:before {
  content: "\ea08";
}
.icon-question:before {
  content: "\ea09";
}
.icon-info:before {
  content: "\ea0c";
}
.icon-cancel-circle:before {
  content: "\ea0d";
}
/*fonts end*/

/*common start*/
button,input,textarea{
	vertical-align: middle;
}
.text-center{
	text-align: center;
}
.text-ellipsis{
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}
i{
	vertical-align: baseline;
}
/*common end*/

/*dialog style start*/
.dialog *{
	box-sizing: border-box;
}
.dialog{
	display: none;
	position: fixed;
	width: 100%;
	height: 100%;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	background-color: rgba(0,0,0,0.35);
	z-index: 1001;
}
.dialog.show{
	display: table;
}
.dialog-wrap{
	display: table-cell;
	width: 100%;
	height: 100%;
	vertical-align: middle;
}
.toast-box{
	margin: 0px auto;
	z-index: 1002;
	width: 260px;
	height: 100px;
	line-height: 100px;
	text-align: center;
	background-color: #fff;
	border-radius: 5px;
	overflow: hidden;
}
.toast-box i{
	vertical-align: middle;
	margin: 5px 10px 5px 0px;
	font-size: 32px;
	color: #2679c5;
}
.toast-box p{
	display: inline-block;
}
.dialog-box{
	background-color: #fff;
	border-radius: 5px;
	overflow: hidden;
	margin: 0px auto;
}
.dialog-title{
	height: 28px;
	line-height: 28px;
	padding: 0px 10px;
	color: #fff;
	background-color: #2679c5;
}
.dialog-title i{
	float: right;
	display: inline-block;
	width: 16px;
	height: 16px;
	text-align: center;
	line-height: 16px;
	margin: 6px 0px;
	padding: 0px;
	font-size: 14px;
	border-radius: 8px;
	cursor: pointer;
}
.dialog-title i:hover{
	background-color: #175590;
}
.dialog-content{
	padding: 10px 10px 0px;
	line-height: 22px;
	color: #000;
}
.dialog-content i{
	float: left;
	vertical-align: middle;
	margin: 5px 10px 5px 0px;
	font-size: 32px;
	color: #2679c5;
}
.dialog-content p{
	padding: 12px 0px;
	line-height: 16px;
	height: 100%;
	overflow: auto;
}
.dialog-toolbar{
	height: 38px;
	padding: 6px 10px;
	text-align: right;
}
.dialog-toolbar .btn{
	vertical-align: top;
}
.toast-box i.icon-question,
.toast-box i.icon-info,
.toast-box i.icon-circle-check,
.dialog-content i.icon-question,
.dialog-content i.icon-info,
.dialog-content i.icon-circle-check{
	color: #2679c5;
}
.toast-box i.icon-notification,
.toast-box i.icon-circle-cross,
.dialog-content i.icon-notification,
.dialog-content i.icon-circle-cross{
	color: #ff8502;
}
/*dialog style end*/

/*loading style start*/
@keyframes showDelay{
	0%, 80%, 100%{
		opacity: 0.2;
	}
	40%{
		opacity: 1;
	}
}
.cover{
	position: fixed;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	background-color: rgba(0,0,0,0.35);
	z-index: 1000;
}
.loading{
	position: absolute;
	top: 50%;
	left: 50%;
	z-index: 1001;
	width: 150px;
	height: 80px;
	margin: -40px 0px 0px -75px;
	background-color: rgba(0,0,0,0.65);
	border-radius: 5px;
	text-align: center;
	font-size: 12px;
	color: #fff;
}
.loading p{
	line-height: 28px;
	margin: 10px 0px 0px;
	padding: 0px;
}
.loading .box{
	position: relative;
	top: 10px;
	width: 2px;
	height: 18px;
	margin: 10px auto;
}
.loading .box > div{
	position: absolute;
	width: 100%;
	height: 100%;
}
.loading .box .contaier-one{
	transform: rotate(0deg);
}
.loading .box .contaier-two{
	transform: rotate(30deg);
}
.loading .box .contaier-three{
	transform: rotate(60deg);
}
.loading .box .contaier-four{
	transform: rotate(90deg);
}
.loading .box .contaier-five{
	transform: rotate(120deg);
}
.loading .box .contaier-sixe{
	transform: rotate(150deg);
}
.loading .box > div > span{
	position: absolute;
	display: inline-block;
	width: 100%;
	height: 4px;
	background-color: #fff;
	animation: showDelay 1.3s infinite ease-in-out;
}
.loading .box > div .rect-odd{
	top: 0px;
	left: 0px;
}
.loading .box > div .rect-even{
	bottom: 0px;
	left: 0px;
}
.loading .box .contaier-one .rect-odd{
	animation-delay: -1.2s;
}
.loading .box .contaier-one .rect-even{
	animation-delay: -0.6s;
}
.loading .box .contaier-two .rect-odd{
	animation-delay: -1.1s;
}
.loading .box .contaier-two .rect-even{
	animation-delay: -0.5s;
}
.loading .box .contaier-three .rect-odd{
	animation-delay: -1s;
}
.loading .box .contaier-three .rect-even{
	animation-delay: -0.4s;
}
.loading .box .contaier-four .rect-odd{
	animation-delay: -0.9s;
}
.loading .box .contaier-four .rect-even{
	animation-delay: -0.3s;
}
.loading .box .contaier-five .rect-odd{
	animation-delay: -0.8s;
}
.loading .box .contaier-five .rect-even{
	animation-delay: -0.2s;
}
.loading .box .contaier-sixe .rect-odd{
	animation-delay: -0.7s;
}
.loading .box .contaier-sixe .rect-even{
	animation-delay: -0.1s;
}
/*loading style end*/

/*btn style start*/
.btn{
	border:1px solid #ccc;
	background-color: #ccc;
	line-height: 24px;
	padding: 0px 10px;
	text-align: center;
	vertical-align: middle;
	color: #333;
	border-radius: 5px;
	display: inline-block;
	cursor: pointer;
}
.btn-primary,
.btn-primary:hover,
.btn-primary:active{
	border:1px solid #2679c5;
	background-color: #2679c5;
	color: #fff;
}
.btn-warn,
.btn-warn:hover,
.btn-warn:active{
	border:1px solid #ff8502;
	background-color: #ff8502;
	color: #fff;
}
.btn-disabled,
.btn-disabled:hover,
.btn-disabled:active{
	border:1px solid #ddd;
	background-color: #ddd;
	text-shadow: 1px 1px 1px rgba(255,255,255,1);
	color: #666;
}
/*btn style end*/

/*login page start*/
.login-container{
	overflow: hidden;
}
.login-head{
	width: 960px;
	height: 100px;
	margin: 0px auto;
}
.login-head .logo{
	display: inline-block;
	vertical-align: middle;
	width: 220px;
	height: 40px;
	margin: 30px 0px;
	background-image: url('../images/cignacmb_logo.png');
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
}
.login-head .logo img{
	border: none;
	margin: 30px 0px;
}
.login-head .name{
	display: inline-block;
	vertical-align: middle;
}
.login-head .name h1{
	margin: 30px 20px;
	font-size: 20px;
	line-height: 40px;
	font-family: 'Helvetica Neue', Helvetica, 'Microsoft Yahei', 'Hiragino Sans GB', 'WenQuanYi Micro Hei', sans-serif;
}
.login-main{
	height: 500px;
	background-image: url('../images/login_bg.jpg');
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
	background-color: #eee;
}
.login-area{
	position: relative;
	width: 1000px;
	height: 100%;
}
.login-box{
	position: absolute;
	top: 60px;
	right: 0px;
	width: 450px;
	height: 380px;
	padding: 20px;
	background-color: #fff;
	border-radius: 5px;
	box-shadow: 2px 2px 5px rgba(0,0,0,0.45);
	box-sizing: border-box;
	font-family: "微软雅黑";
}
.login-box .title{
	padding: 0px 0px 20px;
	margin: 20px 0px 30px;
	border-bottom: 1px solid #ccc;
	font-size: 24px;
}
.login-box .form-row{
	padding: 10px 0px;
}
.login-box .form-row label{
	display: inline-block;
	width: 115px;
	font-size: 18px;
	font-weight: bold;
	text-align: right;
	color: #333;
}
.login-box .form-row .textbox-text{
	border-radius: 0px;
	border: 1px solid #d4d4d4;
	width: 200px;
	height: 32px;
	padding: 0px 5px;
}
.login-box .btn-area{
	margin-top: 20px;
	margin-right: 80px;
	text-align: right;
}
.login-box .btn{
	width: 110px;
	line-height: 48px;
	font-size: 24px;
	border: none;
	padding: 0px;
	border-radius: 5px;
	background-color: #2679c5;
	color: #fff;
	outline: none;
	cursor: pointer;
}
.login-box .btn-disabled{
	background-color: #ddd;
	text-shadow: 1px 1px 1px rgba(255,255,255,1);
	color: #666;
}
.login-foot{
	background-color: #fff;
	line-height: 28px;
	padding-top: 5px;
	position: fixed;
	bottom: 0px;
	left: 0px;
	right: 0px;
	text-align: center;
}
/*login page end*/

/*nav start*/
.nav{
	width: 100%;
	height: 80px;
	background-color: #2679c5;
	line-height: 80px;
	color: #fff;
}
.nav .title{
	float: left;
	height: 40px;
	line-height: 40px;
	font-size: 18px;
	margin: 20px 60px 20px 20px;
	padding-left: 210px;
	background-image: url('../images/cignacmb_logo.png');
	background-position: left center;
	background-repeat: no-repeat;
}
.nav .welcome{
	position: absolute;
	right: 10px;
	top: 10px;
	line-height: 28px;
}
.nav .welcome .logout{
	cursor: pointer;
}
.nav .menu a,.nav .menu span{
	display: block;
	float: left;
	padding: 0 15px;
	font-size: 16px;
	color: #fff;
	cursor: pointer;
}
.nav .menu span{
	padding: 0;
}
.nav .menu a:hover,.nav .menu a.focus{
	background-color: #175590;
}
.nav .menu a.br{
	font-size: 12px;
}
/*nav end*/

/*tobmanage page start*/
.tob-manage{
	margin-top: -80px;
	padding-top: 44px;
}
.tob-manage .pagination{
	padding: 5px 10px;
	text-align: right;
}
.tob-manage .pagination .pageInfo{
	float: left;
}
.tob-manage .ipt-goPage{
	border-radius: 5px;
	border: 1px solid #ccc;
	width: 60px;
	height: 24px;
	padding: 0px 5px;
}
.tob-manage .toolbar .toolbar-row{
	text-align: right;
	padding: 5px 10px;
}
.tob-manage .toolbar .toolbar-row .searchbox{
	border:1px solid #fff;
	border-radius: 5px;
	height: 24px;
	display: inline-block;
	background-color: #fff;
}
.tob-manage .toolbar .toolbar-row .searchbox input{
	height: 24px;
	width: 185px; 
	vertical-align: middle;
	border: none;
	margin: 0px 5px;
}
.tob-manage .toolbar .toolbar-row .searchbox .type{
	position: relative;
	display: inline-block;
	width: 45px;
	height: 24px;
	text-align: left;
	margin: 0px -3px 0px 0px;
	padding: 0px 5px;
	vertical-align: text-top;
	color: #333;
	cursor: pointer;
}
.tob-manage .toolbar .toolbar-row .searchbox .type i{
	vertical-align: middle;
}
.tob-manage .toolbar .toolbar-row .searchbox .type ul{
	position: absolute;
	top: 24px;
	left: 0px;
	right: -1px;
	z-index: 100;
	padding: 0px 0px 2px 0px;
	border-radius: 0px 0px 5px 5px;
	text-align: left;
	background-color: #fff;
}
.tob-manage .toolbar .toolbar-row .searchbox .type li{
	margin: 0px 5px;
	line-height: 22px;
}
.tob-manage .toolbar .toolbar-row .searchbox .type li:hover{
	background-color: #97c5ef;
}
.tob-manage .toolbar .toolbar-row .searchbox .icon-search{
	display: inline-block;
	cursor: pointer;
	background-color: #2679c5;
	color: #fff;
	height: 24px;
	padding: 0px 10px;
	border-radius: 0px 5px 5px 0px;
	vertical-align: top;
	line-height: 24px;
}
.tob-manage .data-table{
	width: 100%;
	min-width: 980px;
	table-layout: fixed;
}
.tob-manage .data-table thead tr{
	background-color: #ccc;
	font-weight: bold;
	text-align: center;
}
.tob-manage .data-table .template{
	color: #2679c5;
}
.tob-manage .data-table th{
	white-space: nowrap;
	overflow: hidden;
	line-height: 32px;
	padding: 0px 5px;
}
.tob-manage .data-table th:first-child{
	font-size: 12px;
}
.tob-manage .data-table th input[type="checkbox"]{
	margin-left: -2px;
}
.tob-manage .data-table th button{
	background-color: #eee;
	font-size: 12px;
	padding: 0px 2px;
	line-height: 20px;
	vertical-align: baseline;
	border: none;
}
.tob-manage .data-table td{
	line-height: 28px;
	padding: 0px 5px;
}
.tob-manage .data-table td .btn{
	font-size: 12px;
	background-color: #ddd;
	border-color: #ddd;
	line-height: 24px;
	width: 50px;
	margin: 2px 0px;
	padding: 0px;
	border-radius: 5px;
}
.tob-manage .data-table td .btn:hover{
	background-color: #bbb;
	border-color: #bbb;
}
.tob-manage .data-table td .btn:active{
	box-shadow: 0px 1px 5px rgba(0,0,0,0.15) inset;
}
.tob-manage .data-table tbody tr:nth-child(even){
	background-color: #f0f0f0;
}
.tob-manage .data-table tbody tr:hover{
	background-color: #97c5ef;
}
.tob-manage .data-table tbody tr i{
	display: none;
	vertical-align: middle;
	margin: 0px 0px 0px 5px;
	font-size: 12px;
	cursor: pointer;
}
.tob-manage .data-table tbody tr:hover i{
	display: inline-block;
}
.tob-manage .m-t-6{
	margin-top:-6px;
}
.tob-manage .pos_rel_btn{
	position:relative;
}
.tob-manage .uploadcon{
	position:absolute;
	width:100%;
	overflow:hidden;
	height:26px;
	z-index:99;
	left:0;
	top:0;
	opacity:0;
}
.tob-manage #show:after{
	content:"x";
	background:#f0f0f0;
	padding:2px;
	cursor:pointer;
	position:absolute;
	right:-25px;
	top:6px;
}
.data-policyInfo{
	margin: -12px 0px;
	width: 100%;
	table-layout: fixed;
}
.data-policyInfo thead tr{
	background-color: #ccc;
	font-weight: bold;
}
.data-policyInfo th,
.data-policyInfo td{
	text-align: center;
	padding: 0px 5px;
	line-height: 28px;
}
.data-policyInfo tbody tr:nth-child(even){
	background-color: #f0f0f0;
}
.data-policyInfo tbody tr:hover{
	background-color: #97c5ef;
}
/*tob manage page end*/

/*tob edit page start*/
.tob-edit *{
	box-sizing: border-box;
}
.tob-edit{
	background-color: #f4f4f4;
}
.tob-edit .btn{
	background-color: #ddd;
	border: none;
}
.tob-edit .btn:hover{
	background-color: #bbb;
}
.tob-edit .btn:active{
	box-shadow: 0px 1px 5px rgba(0,0,0,0.15) inset;
}
.tob-edit .btn-primary{
	background-color: #2679c5;
}
.tob-edit .btn-primary:hover{
	background-color: #175590;
}
.tob-edit .btn-primary:active{
	box-shadow: 0px 1px 5px rgba(0,0,0,0.15) inset;
}
.tob-edit header{
	position: fixed;
	top: 80px;
	right: 0px;
	padding: 20px 20px 20px 45px;
	width: 240px;
	text-align: center;
}
.tob-edit header .btn{
	float: left;
	line-height: 30px;
	width: 150px;
	margin: 5px 0px;
	cursor: pointer;
}
.tob-edit section{
	padding: 10px 240px 20px 20px;
	margin-top: 0px;
}
.tob-edit nav{
	display: flex;
	font-size: 16px;
	font-weight: bold;
	line-height: 50px;
	margin-top: 15px;
}
.tob-edit nav.nodeType1{
	color: brown;
}
.tob-edit nav.nodeType2{
	line-height: 30px;
	margin-top: 35px;
	color: red;
}
.tob-edit nav.nodeType5{
	color: mediumvioletred;
}
.tob-edit nav hr{
	flex: 1;
	height: 0;
	margin-left: 12px;
	margin-right: 25px;
	margin-top: 24px;
}
.tob-edit nav .btn{
	border-radius: 19px;
	height: 38px;
	width: 38px;
	line-height: 38px;
	vertical-align: middle;
	font-size: 12px;
	margin-right: 25px;
	padding: 0px;
	cursor: pointer;
}
.tob-edit table{
	vertical-align: middle;
	width: 100%;
	table-layout: fixed;
}
.tob-edit td{
	padding: 2px 10px 2px 0px;
}
.tob-edit .label{
	color: blue;
}
.tob-edit .detail{
	background-color: #eee;
	display: inline-block;
	width: 100%;
	height: 100%;
	border-radius: 5px;
}
.tob-edit .ipt{
	height: 28px;
	width: 300px;
	padding: 0px 5px;
	border:1px solid #d4d4d4;
}
.tob-edit .editor{
	vertical-align: top;
}
.tob-edit footer{
	text-align: center;
	margin-right: 240px;
	padding: 0px 0px 40px;
}
.tob-edit footer .btn{
	line-height: 40px;
	width: 100px;
}
.tob-edit .table-hospital{
	width: 100%;
	table-layout: fixed;
}
.tob-edit .table-hospital .toolbar{
	text-align: right;
}
.tob-edit .table-hospital .tab-container{
	line-height: 28px;
	display: inline-block;
	cursor: pointer;
}
.tob-edit .table-hospital .tab:first-child{
	display: inline-block;
	width: 90px;
	border-radius: 5px 0px 0px 5px;
	border: 1px solid #ccc;
	border-right: 0px;
	background-color: #f8f8f8;
	text-align: center;
}
.tob-edit .table-hospital .tab:last-child{
	float: right;
	display: inline-block;
	width: 90px;
	border-radius: 0px 5px 5px 0px;
	border: 1px solid #ccc;
	background-color: #f8f8f8;
	text-align: center;
}
.tob-edit .table-hospital .tab.selected{
	background-color: #2679c5;
	border-color: #2679c5;
	color: #fff;
}
.tob-edit .table-hospital .toolbar .searchbox{
	border:1px solid #ccc;
	border-radius: 5px;
	height: 24px;
	display: inline-block;
	box-sizing: content-box;
	background-color: #fff;
}
.tob-edit .table-hospital .toolbar .searchbox input{
	height: 24px;
	width: 150px; 
	vertical-align: middle;
	border: none;
	margin: 0px 5px;
}
.tob-edit .table-hospital .toolbar .searchbox .search-btn,
.tob-edit .table-hospital .toolbar .searchbox i{
	display: inline-block;
	cursor: pointer;
	background-color: #2679c5;
	color: #fff;
	height: 24px;
	padding: 0px 10px;
	border-radius: 0px 5px 5px 0px;
	vertical-align: top;
	line-height: 24px;
}
.tob-edit .table-hospital .title .choose{
	float: right;
	color: #000;
}
.tob-edit .table-hospital .hospital-container{
	width: 100%;
	height: 350px;
	padding: 5px;
	border-radius: 5px;
	box-sizing: border-box;
	background-color: #fff;
	overflow: auto;
}
.tob-edit .table-hospital .hospital-container .selected{
	background-color: #2679c5;
	color: #fff;
}
.tob-edit .exp{
	color: #f00;
}
.tob-edit .table-hospital .btn{
	line-height: 30px;
	width: 150px;
	vertical-align: middle;
	display: inline-block;
	margin: 5px 0px;
	border-radius: 5px;
	border: 1px solid #eee;
	cursor: pointer;
}
.tob-edit .table-hospital .btn:hover{
	background-color: #bbb;
}
.tob-edit .table-hospital .btn:active{
	box-shadow: 0px 1px 5px rgba(0,0,0,0.15) inset;
}
.tob-edit .table-hospital .btn-disabled,
.tob-edit .table-hospital .btn-disabled:hover,
.tob-edit .table-hospital .btn-disabled:active{
	background-color: #eaeaea;
	box-shadow: none;
}
.tob-edit .toTop{
	position: fixed;
	right: 45px;
	bottom: 15px;
	display: none;
	border-radius: 19px;
	height: 38px;
	width: 38px;
	line-height: 38px;
	font-size: 12px;
	margin-right: 25px;
	padding: 0px;
}
/*tob edit page end*/

/*point choose page start*/
.pt-choose{
	padding: 0 0 40px;
	background-color: #f4f4f4;
}
.pt-choose .btn-primary{
	background-color: #2679c5;
	border: none;
}
.pt-choose .btn-primary:hover{
	background-color: #175590;
}
.pt-choose .btn-primary:active{
	box-shadow: 0px 1px 5px rgba(0,0,0,0.15) inset;
}
.pt-choose .btn{
	display: block;
	line-height: 40px;
	width: 100px;
	margin: 20px auto 0;
}
.pt-choose dl{
	border-bottom: 1px solid darkgray;
	padding: 30px 20px;
}
.pt-choose dt header{
	border: 1px solid gray;
	border-radius: 3px;
	display: inline-block;
	padding: 4px 10px;
	font-weight: bold;
	font-size: 15px;
	margin: 10px 0;
	background-color: #fff;
	cursor: pointer;
}
.pt-choose dd{
	border: 1px solid gray;
	border-radius: 3px;
	display: inline-block;
	padding: 4px 10px;
	margin: 10px 10px 0 0;
	background-color: #fff;
	cursor: pointer;
}
.pt-choose header.chosenSome{
	background-color: #3d9df6;
	border-color: #3d9df6;
	color: #fff;
}
.pt-choose header.chosenAll,
.pt-choose dd.chosen{
	background-color: #2679c5;
	border-color: #2679c5;
	color: #fff;
}
/*point choose page end*/

/*point drag page start*/
.pt-drag{
	padding: 0 0 40px;
	background-color: #f4f4f4;
}
.pt-drag .btn-primary{
	background-color: #2679c5;
	border: none;
}
.pt-drag .btn-primary:hover{
	background-color: #175590;
}
.pt-drag .btn-primary:active{
	box-shadow: 0px 1px 5px rgba(0,0,0,0.15) inset;
}
.pt-drag .btn{
	display: block;
	line-height: 40px;
	width: 100px;
	margin: 20px auto 0;
}
.pt-drag dl{
	border-bottom: 1px solid darkgray;
	padding: 30px 20px;
	cursor: pointer;
}
.pt-drag dt header{
	border: 1px solid gray;
	border-radius: 3px;
	display: inline-block;
	padding: 4px 10px;
	font-weight: bold;
	font-size: 15px;
	margin: 10px 0;
	background-color: #fff;
}
.pt-drag dd{
	border: 1px solid gray;
	border-radius: 3px;
	display: inline-block;
	padding: 4px 10px;
	margin: 10px 10px 0 0;
	background-color: #fff;
	cursor: pointer;
}
.pt-drag .chosen{
	background-color: #2679c5;
	border-color: #2679c5;
	color: #fff;
}
/*point drag page end*/

/*point manage page start*/
.pt-manage{
	padding: 0 0 40px;
	background-color: #f4f4f4;
}
.pt-manage dl{
	border-bottom: 1px solid darkgray;
	padding: 30px 20px;
}
.pt-manage dt header{
	border: 1px solid gray;
	border-radius: 3px;
	display: inline-block;
	padding: 4px 10px;
	font-weight: bold;
	font-size: 15px;
	margin: 10px 0;
	background-color: #fff;
	cursor: pointer;
}
.pt-manage dd{
	border: 1px solid gray;
	border-radius: 3px;
	display: inline-block;
	padding: 4px 10px;
	margin: 10px 10px 0 0;
	background-color: #fff;
	cursor: pointer;
}
.pt-manage .btn{
	background-color: #ccc;
	vertical-align: top;
	line-height: inherit;
}
/*point manage page end*/

/*point edit page start*/
.pt-edit{
	padding: 30px 20px 20px;
	background-color: #f4f4f4;
}
.pt-edit .title{
	font-size: 18px;
	font-weight: bold;
}
.pt-edit .content{
	display: table;
}
.pt-edit .content .label{
	display: table-cell;
	padding: 2px 10px 2px 0px;
}
.pt-edit .ipt{
	height: 28px;
	width: 300px;
	padding: 0px 5px;
	border:1px solid #d4d4d4;
}
/*point edit page end*/